<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper" th:fragment="side">
        <h1 class="sidebar-heading border-bottom bg-light" style="text-align: center; font-size: 32px;"><strong>매뉴</strong></h1>
        <div class="list-group list-group-flush" style="font-size: 20px;">

            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               style="text-align: center;" href="/home"><b>홈</b></a>

            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               sec:authorize="isAuthenticated()" style="text-align: center;" href="/user/management"><b>내 정보 관리</b></a>

            <a class="list-group-item list-group-item-action list-group-item-light p-3"
               sec:authorize="hasAnyAuthority('ROLE_ADMIN')" style="text-align: center;" href="/admin/page">
                <b>관리자 페이지</b><br><관리자 전용></a>

            <a class="list-group-item list-group-item-action list-group-item-light p-3" style="text-align: center;" href="/books/page"><b>도서 검색</b></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" style="text-align: center;" href="/user/rental-history"><b>대여기록 조회</b></a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" style="text-align: center;" href="/recom/page"><b>도서 추천</b></a>

            <a class="list-group-item list-group-item-action list-group-item-light p-3 dropdown-toggle" style="text-align: center;"
               href="/complain" data-bs-toggle="dropdown"><b>민원 안내</b></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/complain">도움말</a><div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/complain">Q & A</a></div>
        </div>
    </div>
</body>
</html>