<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>도서 반납</title>
</head>
<body>
<div th:fragment="Books-rental">
    <h1>&nbsp;도서 반납 페이지</h1>
    <p><br>
        <br>&nbsp;&nbsp;페이지를 로드 중 입니다...
        <br>&nbsp;&nbsp;잠시만 기다려 주세요.</p>
    <br>
    <br>
    <p href="/books/rental-history">&nbsp;&nbsp;도서 대여 조회</p>
    <br>
    <p href="/books/rental">&nbsp;&nbsp;도서 대여 하기</p>
    <br>
    <p href="/books/return">&nbsp;&nbsp;>도서 반납 하기<</p>
</div>
</body>
</html>