<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<body>
<div th:fragment="User-login">
    <br>
    <br>
    <h1 style="background-color: #0002;">&nbsp;&nbsp;사용자 인증</h1>

    <form action="/user/login/submit" method="post">

        <!-- CSRF Token -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <fieldset style="font-size: 20px; border: 1px solid black; padding: 10px; width: 55%; margin-left: 30px;">
            <b style="margin-left: 20px;">ID</b>
            <input type="text" id="userId" name="username" style="margin-left: 40px;">

            <button type="submit" style="margin-left: 100px; font-size: 20px;" onclick="isNullCheck(event)">로그인</button>
            <br><br>

            <b style="margin-left: 20px;">이름</b>
            <input type="text" id="name" name="name" style="margin-left: 20px;">
            <br>
        </fieldset>

        <script>
            function isNullCheck(event) {
                var userId = document.getElementById('userId').value;
                var name = document.getElementById('name').value;

                if (userId === '') {
                    alert("ID를 입력 하세요.");
                    event.preventDefault();
                } else if (name === '') {
                    alert("이름을 입력하세요.");
                    event.preventDefault();
                }
            }
        </script>
    </form>

    <form action="/user/Agree">
        <br>
        <button class="button" style="margin-left: 30px; font-size: 20px;">사용자 등록</button>
    </form>

</div>
</body>
</html>