<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="User-create">
    <br>
    <br>
    <h1 style="background-color: #0002;">&nbsp;&nbsp;사용자 등록</h1>
    <br>
    <fieldset style="border: 1px solid black; padding: 10px; width: 55%; margin-left: 30px;">
        <form action="/user/create/submit" name="level" method="post" style="font-size: 20px;">

            <!-- CSRF Token -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <br>
            <b>ID</b>   <input type="text" id="userId" name="userId" style="margin-left: 55px;"><br><br>
            <b>이름</b>  <input type="text" id="name" name="name" style="margin-left: 35px;"><br><br>
            <b>email</b><input type="text" id="email" name="email" style="margin-left: 30px;">
            <b style="margin-left: 30px;">전화번호</b>
            <input type="text" id="phoneNum" name="phoneNum" style="margin-left: 30px;">
            <br><br>
            <select id="level" name="level" onchange="showHiddenTag()" style="font-size: 20px;">
                <option value="">--<b>등록하려는 사용자권한을 선택하세요</b>--</option>
                <option value="USER">일반 사용자</option>
                <option value="ADMIN">관리자</option>
            </select>
            <br>
            <!-- 관리자를 선택하지 않았을 때에는 숨겨짐 -->
            <label id="hiddenLabel" style="display: none; font-size: 20px;">관리자 전용 비밀번호를 입력하세요.
                <br>*나중에 삭제* password: ADMIN</label>

                                <!-- type="password" -->
            <input id="hiddenTag" type="" name="password" style="display: none; width: 30%;" value="A">

            <!-- 관리자를 선택했을 때에만 관리자 전용 비밀번호를 입력하는 칸이 나오도록 동작 -->
            <script>
                function showHiddenTag() {
                    var select = document.getElementById('level');
                    var hiddenTag = document.getElementById('hiddenTag');
                    var hiddenLabel = document.getElementById('hiddenLabel');

                    if (select.value === 'ADMIN') {
                        // 조건 충족 시 숨겨진 태그 표시
                        hiddenTag.style.display = 'block';
                        hiddenLabel.style.display = 'block';
                    } else {
                        // 조건 불충족 시 태그 숨김
                        hiddenTag.style.display = 'none';
                        hiddenLabel.style.display = 'none';
                    }
                }
            </script>

            <script>
                function isNullCheck(event) {
                    var userId = document.getElementById('userId').value;
                    var name = document.getElementById('name').value;
                    var email = document.getElementById('email').value;
                    var phoneNum = document.getElementById('phoneNum').value;
                    var level = document.getElementById('level').value;

                    if (userId === '') {
                        alert("사용자 등록을 진행하려면 ID를 입력해야 합니다.");
                        event.preventDefault();
                    } else if (name === '') {
                        alert("사용자 등록을 진행하려면 이름을 입력해야 합니다.");
                        event.preventDefault();
                    } else if (email === '') {
                        alert("사용자 등록을 진행하려면 email을 입력해야 합니다.");
                        event.preventDefault();
                    } else if (phoneNum === '') {
                        alert("사용자 등록을 진행하려면 전화번호를 입력해야 합니다.");
                        event.preventDefault();
                    } else if (level === '') {
                        alert("사용자 등록을 진행하려면 등록하려는 사용자의 권한을 선택 해야 합니다.");
                        event.preventDefault();
                    }
                }
            </script>
            <br>
            <br>
            <button type="submit" onclick="isNullCheck(event)" style="font-size: 20px;">제출하기</button>
        </form>
    </fieldset>

</div>
</body>
</html>